.container-fluid {
  padding-top: 20px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-text {
  color: #6c757d;
}


.custom-img {
  width: 30%;
  /* Ajusta el ancho como prefieras, por ejemplo, 100%, 300px, etc. */
  height: auto;
  /* Mantiene la proporción */
}